<div>
	<h1 class="dialog-title" mat-dialog-title>Select date range</h1>
	<div class="modal-container">
		<div class="preset-column">
			<div class="date-range-list-item" [ngClass]="{'preset-active': isEqual(selectedDateRange, dateRange)}"
			*ngFor="let dateRange of dateRanges" (click)="selectedDateRange = cloneDeep(dateRange)">
				<div class="preset-title" >{{dateRange.title}}</div>
			</div>
		</div>
		<div class="custom-column">
			<h3>Custom Ranges</h3>
			<dp-day-calendar [(ngModel)]="selectedDateRange.start"  (onSelect)="setCustom('start', $event)"  theme="dp-material"></dp-day-calendar> 
			<dp-day-calendar [(ngModel)]="selectedDateRange.end"  (onSelect)="setCustom('end', $event)" theme="dp-material"></dp-day-calendar> 
		</div>
	</div>
</div>
<div class="modal-buttons">
	<button (click)="cancel()" class="cancel-button">CACNEL</button>
	<button (click)="addNewCard()" class="apply-button">OK</button>
</div>
