add-card-modal {
	background: white;
	.modal-container {
		display: flex;
		text-align: center;
	}
	.dialog-title {
		color: white;
		padding: 10px;
		background-color: #2F64CC;
		font-size: 22px;
	}
	.preset-column {
		margin-top: 1.6rem;
	}
	h1,
	.custom-column {
		margin-top: 0px;
	}
	.cancel-button {
		font-size: 18px;
		font-weight: 600;
	}

	.preset-title {
		padding: 5px;
		font-size: 16px;
		font-weight: 500;
	}
	
	.apply-button {
		color: #2F64CC;
		font-size: 18px;
		font-weight: 600;
	}
	.apply-button,
	.cancel-button {
		background: white;
	}
	.preset-column {
		border-right: 1px solid #e5e5e5;
		width: 200px;
	}
	.preset-active {
		color: #2255C2;
		background: #EBF0F9;
		border-radius: 3px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.dp-calendar-wrapper,
	.dp-calendar-nav-container {
		border: none !important;
	}
	dp-day-calendar .dp-calendar-day {
		width: 30px !important;
		height: 30px !important;
		font-size: 14px !important;
	}
	dp-day-calendar.dp-material .dp-calendar-weekday {
		width: 30px !important;
		font-size: 14px !important;
	}
	dp-calendar-nav.dp-material .dp-nav-header-btn {
		width: auto !important;
		font-size: 18px !important;
	}
	.mat-dialog-actions {
		flex-direction: row-reverse;
	}
	.modal-buttons {
		text-align: right;
		margin-right: 20px;
		margin-top: 20px;
	}
	
}
.modal-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}